body {
  background-color: rgb(236, 247, 246);
  font-size: 20px;
  font-family: sans-serif;
}

a:visited {
  color: rgb(61, 64, 66);
}

a:hover {
  color: brown;
  text-decoration: none;
}

nav a + a {
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  display: inline-block;
}

nav {
  background-color: #5d9df1;
  padding: 10px;
  margin: 0 auto;
  /* max-width: 800px; */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.meetup-form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.meetup-form-group {
  margin-bottom: 15px;
}

.meetup-form-group input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.box {
  animation: zoomIn 2s ease-in-out infinite;
  color: rgb(2, 16, 13);
}

/* Zoom-in animation */
@keyframes zoomIn {
  0% {
    transform: scale(1);
    opacity: 0.5;
    color: cornflowerblue;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
    color: rgb(100, 237, 182);
  }
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.radio-group input {
  margin-right: 5px;
}

table {
  width: 25%;

  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #007bff;
  color: #fff;
}

th {
  font-size: 18px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
